[package]
name = "ide_completion"
version = "0.0.0"
edition = "2021"

[dependencies]
base_db = { path = "../base_db" }
hir = { path = "../hir" }
hir_ty = { path = "../hir_ty" }
hir_def = { path = "../hir_def" }
syntax = { path = "../syntax" }
always-assert = { version = "0.1.2", features = ["log"] }
tracing = "0.1"

text_edit = { git = "https://github.com/rust-analyzer/rust-analyzer", rev = "20fa7cbcad" }
itertools = "0.10.1"
either = "1.6.1"
rowan = "0.15"
