[package]
name = "wgsl_formatter"
version = "0.1.0"
edition = "2021"

[dependencies]
syntax = { path = "../syntax" }
wgsl_parser = { path = "../wgsl_parser" }
rowan = "0.15"

[dev-dependencies]
anyhow = "1.0"
expect-test = "1.1.0"