version: 2
updates:
  - package-ecosystem: cargo
    directory: /
    schedule:
      interval: daily
    open-pull-requests-limit: 20
    commit-message:
      prefix: internal
    labels:
      - A-Language-Server
      - C-Dependencies
      - D-Trivial
      - S-Ready-to-Review
    cooldown:
      default-days: 7

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: daily
    open-pull-requests-limit: 20
    commit-message:
      prefix: internal
    labels:
      - A-Build-System
      - C-Dependencies
      - D-Trivial
      - S-Ready-to-Review
    cooldown:
      default-days: 7

  - package-ecosystem: npm
    directory: /editors/code
    schedule:
      interval: daily
    open-pull-requests-limit: 20
    commit-message:
      prefix: internal
    labels:
      - A-Editor
      - C-Dependencies
      - D-Trivial
      - S-Ready-to-Review
    cooldown:
      default-days: 7
