root = true

charset = utf-8
end_of_line = lf
indent_size = tab
indent_style = space
insert_final_newline = true
spelling_language = en-us
tab_width = 4
trim_trailing_whitespace = true

[*.rs]

[*.toml]
indent_style = tab

[*.md]
tab_width = 2

[*.{yaml,yml}]
tab_width = 2
quote_type = single
spaces_around_brackets = both

[*.{json,jsonc}]

[*.{wgsl,wesl}]
