# Rust build artifacts

target/

**/*.rs.bk
**/*.rs.pending-snap

# Cargo

/testfiles
result
.vscode/settings.json

# other build artifacts

/dist/
/out/
docs/book/book
docs/book/src/assists_generated.md
docs/book/src/diagnostics_generated.md
docs/book/src/features_generated.md

.idea/*

# logs
*.log

# intellij
*.iml

# mac thing
.DS_Store

# https://lsif.dev/
/dump.lsif

# https://direnv.net/
.envrc
