# Rust build artifacts

target/

# Cargo

/testfiles
result

# IDE-specific

# VS Code
.vscode/settings.json

# IntelliJ
.idea/*
*.iml

# Other build artifacts

/dist/
/out/
docs/book/book
docs/book/src/assists_generated.md
docs/book/src/diagnostics_generated.md
docs/book/src/features_generated.md

# logs
*.log

# mac thing
.DS_Store

# https://lsif.dev/
/dump.lsif

# https://direnv.net/
.envrc
