# Rust build artifacts

/target
crates/*/target
**/*.rs.bk
**/*.rs.pending-snap
/benches/target
/tools/compile_fail_utils/target

# Cargo

Cargo.lock
.cargo/config
.cargo/config.toml

/testfiles
result
.vscode/settings.json

# npm

node_modules
editors/code/wgsl-analyzer.vsix

# other build artifacts

/dist/
/out/
docs/book/book
docs/book/src/assists_generated.md
docs/book/src/diagnostics_generated.md
docs/book/src/features_generated.md

.idea/*

# logs
*.log

# intellij
*.iml

# mac thing
.DS_Store

# https://lsif.dev/
/dump.lsif

# https://direnv.net/
.envrc
