[workspace]
members = [
  # "xtask/",
  # "lib/*",
  "crates/*",
]
exclude = ["crates/proc-macro-srv/proc-macro-test/imp"]
resolver = "2"

[workspace.package]
rust-version = "1.84"
edition = "2021"
license = "MIT OR Apache-2.0"
authors = ["wgsl-analyzer team"]
repository = "https://github.com/wgsl-analyzer/wgsl-analyzer"

[profile.dev]
debug = 1

[profile.dev.package]
# These speed up local tests.
rowan.opt-level = 3
rustc-hash.opt-level = 3
smol_str.opt-level = 3
text-size.opt-level = 3
serde.opt-level = 3
salsa.opt-level = 3
# This speeds up `cargo xtask dist`.
# miniz_oxide.opt-level = 3

[profile.release]
incremental = true
# Set this to 1 or 2 to get more useful backtraces in debugger.
debug = 0

[profile.dev-rel]
inherits = "release"
debug = 2

[workspace.lints.rust]
warnings = { level = "warn", priority = -2 }
deprecated-safe = { level = "deny", priority = -1 }
future-incompatible = { level = "deny", priority = -1 }
keyword-idents = { level = "deny", priority = -1 }
let-underscore = { level = "deny", priority = -1 }
nonstandard-style = { level = "deny", priority = -1 }
refining-impl-trait = { level = "deny", priority = -1 }
rust-2018-compatibility = { level = "deny", priority = -1 }
rust-2018-idioms = { level = "deny", priority = -1 }
rust-2021-compatibility = { level = "deny", priority = -1 }
rust-2024-compatibility = { level = "deny", priority = -1 }
unused = { level = "allow", priority = -2 }

# TODO
dead_code = "allow"  # still prototyping

[workspace.lints.clippy]
cargo = { level = "warn", priority = -2 }
complexity = { level = "warn", priority = -2 }
correctness = { level = "deny", priority = -1 }
nursery = { level = "warn", priority = -2 }
pedantic = { level = "warn", priority = -2 }
perf = { level = "warn", priority = -2 }
restriction = { level = "warn", priority = -2 }
style = { level = "warn", priority = -2 }
suspicious = { level = "warn", priority = -2 }

exhaustive_structs = "allow" # wgsl-analyzer has no stability commitment
exhaustive_enums = "allow" # wgsl-analyzer has no stability commitment
single_call_fn = "allow" # good for organization
implicit_return = "allow" # unidiomatic
question_mark_used = "allow" # unidiomatic
shadow_reuse = "allow" # often useful
pub_use = "allow" # often useful
std_instead_of_alloc = "allow" # no no_std support
std_instead_of_core = "allow" # no no_std support
cargo_common_metadata = "allow" # not important
multiple_crate_versions = "allow" # not under this crate's control
blanket_clippy_restriction_lints = "allow" # makes it easier to keep up to date with new lints
pub_with_shorthand = "allow" # style preference
absolute_paths = "allow" # often hurts readability
items_after_statements = "allow" # incorrect
shadow_unrelated = "allow" # don't care
missing_trait_methods = "allow" # antipattern
float_arithmetic = "allow" # is fine
separated_literal_suffix = "allow" # style preference

# TODOs
missing_docs_in_private_items = "allow"
arbitrary_source_item_ordering = "allow"
field_scoped_visibility_modifiers = "allow"
module_name_repetitions = "allow"
struct_excessive_bools = "allow"
arithmetic_side_effects = "allow"
indexing_slicing = "allow"
unwrap_used = "allow"
unwrap_in_result = "allow"
undocumented_unsafe_blocks = "allow"
multiple_unsafe_ops_per_block = "allow"
pattern_type_mismatch = "allow"
panic_in_result_fn = "allow"
panic = "allow"
missing_errors_doc = "allow"
missing_assert_message = "allow"
unnecessary_wraps = "allow"
cast_precision_loss = "allow"
multiple_inherent_impl = "allow"
iter_over_hash_type = "allow"
expect_used = "allow"
string_slice = "allow"
cast_possible_truncation = "allow"
default_numeric_fallback = "allow"
