[workspace]
members = [
  "xtask/",
  # "lib/*",
  "crates/*",
]
exclude = []
resolver = "2"

[workspace.package]
rust-version = "1.88"
edition = "2024"
license = "MIT OR Apache-2.0"
authors = ["wgsl-analyzer team"]
repository = "https://github.com/wgsl-analyzer/wgsl-analyzer"

[profile.dev]
debug = 1

[profile.dev.package]
# These speed up local tests.
rowan.opt-level = 3
rustc-hash.opt-level = 3
smol_str.opt-level = 3
text-size.opt-level = 3
serde.opt-level = 3
salsa.opt-level = 3
# This speeds up `cargo xtask dist`.
# miniz_oxide.opt-level = 3

[profile.release]
incremental = true
# Set this to 1 or 2 to get more useful backtraces in debugger.
debug = 0

[profile.dev-rel]
inherits = "release"
debug = 2

[workspace.dependencies]
# local crates
base-db = { path = "./crates/base_db", version = "0.0.0" }
cfg = { path = "./crates/cfg", version = "0.0.0", features = ["tt"] }
hir = { path = "./crates/hir", version = "0.0.0" }
hir-def = { path = "./crates/hir_def", version = "0.0.0" }
hir-expand = { path = "./crates/hir-expand", version = "0.0.0" }
hir-ty = { path = "./crates/hir_ty", version = "0.0.0" }
ide = { path = "./crates/ide", version = "0.0.0" }
ide-assists = { path = "./crates/ide-assists", version = "0.0.0" }
ide-completion = { path = "./crates/ide_completion", version = "0.0.0" }
ide-db = { path = "./crates/ide-db", version = "0.0.0" }
# ide-diagnostics = { path = "./crates/ide-diagnostics", version = "0.0.0" }
ide-ssr = { path = "./crates/ide-ssr", version = "0.0.0" }
intern = { path = "./crates/intern", version = "0.0.0" }
limit = { path = "./crates/limit", version = "0.0.0" }
load-cargo = { path = "./crates/load-cargo", version = "0.0.0" }
mbe = { path = "./crates/mbe", version = "0.0.0" }
parser = { path = "./crates/parser", version = "0.0.0" }
# paths = { path = "./crates/paths", version = "0.0.0" }
proc-macro-api = { path = "./crates/proc-macro-api", version = "0.0.0" }
proc-macro-srv = { path = "./crates/proc-macro-srv", version = "0.0.0" }
proc-macro-srv-cli = { path = "./crates/proc-macro-srv-cli", version = "0.0.0" }
profile = { path = "./crates/profile", version = "0.0.0" }
# project-model = { path = "./crates/project-model", version = "0.0.0" }
# span = { path = "./crates/span", version = "0.0.0" }
stdx = { path = "./crates/stdx", version = "0.0.0" }
syntax = { path = "./crates/syntax", version = "0.0.0" }
syntax-bridge = { path = "./crates/syntax-bridge", version = "0.0.0" }
# test-fixture = { path = "./crates/test-fixture", version = "0.0.0" }
# test-utils = { path = "./crates/test-utils", version = "0.0.0" }
tt = { path = "./crates/tt", version = "0.0.0" }
wgsl-analyzer = { path = "./crates/wgsl-analyzer", version = "0.0.0" }
wgsl-formatter = { path = "./crates/wgsl_formatter", version = "0.0.0" }
wgslfmt = { path = "./crates/wgslfmt", version = "0.0.0" }
edition = { path = "./crates/edition", version = "0.0.0" }

vfs-notify = { git = "https://github.com/rust-lang/rust-analyzer", rev = "a31e10a2fdc585e9d7ea0857cacfd322dd478070", version = "0.0.0" }
vfs = { git = "https://github.com/rust-lang/rust-analyzer", rev = "a31e10a2fdc585e9d7ea0857cacfd322dd478070", version = "0.0.0" }
paths = { git = "https://github.com/rust-lang/rust-analyzer", rev = "a31e10a2fdc585e9d7ea0857cacfd322dd478070", version = "0.0.0" }
query-group = { package = "query-group-macro", git = "https://github.com/rust-lang/rust-analyzer", rev = "a31e10a2fdc585e9d7ea0857cacfd322dd478070", version = "0.0.0" }

# crates from rust-analyzer that are published separately
line-index = "0.1.2"
la-arena = "0.3.1"
lsp-server = "0.7.8"

# non-local crates
anyhow = "1.0.98"
arrayvec = "0.7.6"
base64 = "0.22"
bitflags = "2.9.1"
cargo_metadata = "0.19.1"
camino = "1.1.10"
dirs = "5.0.1"
scip = "0.5.2"
chalk-solve = { version = "0.99.0", default-features = false }
chalk-ir = "0.99.0"
chalk-recursive = { version = "0.99.0", default-features = false }
chalk-derive = "0.99.0"
cov-mark = "2.0.0"
crossbeam-channel = "0.5.15"
dissimilar = "1.0.9"
dot = "0.1.4"
either = "1.15.0"
expect-test = "1.5.1"
fst = { version = "0.4.7", default-features = false }
fxhash = "0.2.1"
hashbrown = { version = "0.15.4", features = [
  "inline-more",
], default-features = false }
indexmap = "2.9.0"
itertools = "0.14.0"
jod-thread = "1.0.0"
libc = "0.2.174"
libloading = "0.8.6"
memchr = "2.7.5"
logos = "0.12.1"
walkdir = "2.3.2"
toml = "0.8.8"
tenthash = "1.0.0"
num_cpus = "1.17.0"
memmap2 = "0.9.5"
nohash-hasher = "0.2.0"
oorandom = "11.1.5"
object = { version = "0.36.7", default-features = false, features = [
  "std",
  "read_core",
  "elf",
  "macho",
  "pe",
] }
parking_lot = "0.12.4"
xflags = "0.3.0"
threadpool = "1.8.1"
process-wrap = { version = "8.2.0", features = ["std"] }
pulldown-cmark-to-cmark = "21.0.0"
pulldown-cmark = { version = "0.13.0", default-features = false }
rayon = "1.10.0"
rowan = "0.16.1"
rustc-hash = "2.1.1"
salsa = "0.17.0-pre.2"
salsa-macros = "0.22.0"
semver = "1.0.25"
serde = { version = "1.0.219", features = ["derive"] }
serde_json = "1.0.140"
smallvec = { version = "1.15.1", features = [
  "const_new",
  "union",
  "const_generics",
] }
smol_str = "0.3.2"
text-size = "1.1.1"
tracing = "0.1.40"
tracing-tree = "0.3.0"
tracing-subscriber = { version = "0.3.18", default-features = false, features = [
  "registry",
  "fmt",
  "local-time",
  "std",
  "time",
  "tracing-log",
  "env-filter",
] }
triomphe = { version = "0.1.14", default-features = false, features = ["std"] }
url = "2.5.4"
xshell = "0.2.7"
lexopt = "0.3.0"
prettydiff = "0.8.1"
notify = "8.0.0"
proptest = "1.7.0"

# We need to freeze the version of the crate because the raw-api feature is considered unstable
dashmap = { version = "6.1.0", features = ["raw-api"] }

[workspace.lints.rust]
warnings = { level = "warn", priority = -2 }
deprecated-safe = { level = "deny", priority = -1 }
future-incompatible = { level = "deny", priority = -1 }
keyword-idents = { level = "deny", priority = -1 }
let-underscore = { level = "deny", priority = -1 }
nonstandard-style = { level = "deny", priority = -1 }
refining-impl-trait = { level = "deny", priority = -1 }
rust-2018-compatibility = { level = "deny", priority = -1 }
rust-2018-idioms = { level = "deny", priority = -1 }
rust-2021-compatibility = { level = "deny", priority = -1 }
rust-2024-compatibility = { level = "deny", priority = -1 }
# TODO still prototyping
unused = { level = "allow", priority = 1 }

[workspace.lints.clippy]
cargo = { level = "warn", priority = -2 }
complexity = { level = "warn", priority = -2 }
correctness = { level = "deny", priority = -1 }
nursery = { level = "warn", priority = -2 }
pedantic = { level = "warn", priority = -2 }
perf = { level = "warn", priority = -2 }
restriction = { level = "warn", priority = -2 }
style = { level = "warn", priority = -2 }
suspicious = { level = "warn", priority = -2 }

# wgsl-analyzer has no stability commitment
exhaustive_structs = "allow"
# wgsl-analyzer has no stability commitment
exhaustive_enums = "allow"
# good for organization
single_call_fn = "allow"
# unidiomatic
implicit_return = "allow"
# unidiomatic
question_mark_used = "allow"
# often useful
shadow_reuse = "allow"
# often useful
pub_use = "allow"
# no no_std support
std_instead_of_alloc = "allow"
# no no_std support
std_instead_of_core = "allow"
# not important
cargo_common_metadata = "allow"
# not under this crate's control
multiple_crate_versions = "allow"
# makes it easier to keep up to date with new lints
blanket_clippy_restriction_lints = "allow"
# style preference
pub_with_shorthand = "allow"
# often hurts readability
absolute_paths = "allow"
# incorrect
items_after_statements = "allow"
# do not care
shadow_unrelated = "allow"
# antipattern
missing_trait_methods = "allow"
# is fine
float_arithmetic = "allow"
# style preference
separated_literal_suffix = "allow"
# style preference
self_named_module_files = "allow"
# style preference
semicolon_outside_block = "allow"
# conflicting with redundant_else
else_if_without_else = "allow"
# does not allow test module to be at bottom of file
arbitrary_source_item_ordering = "allow"
# unwanted restriction
field_scoped_visibility_modifiers = "allow"
# unwanted restriction
redundant_pub_crate = "allow"
# needs to be determined on a case-by-case basis
default_numeric_fallback = "allow"
# nursery, ugly suggestions
option_if_let_else = "allow"

# TODOs
missing_docs_in_private_items = "allow"
module_name_repetitions = "allow"
struct_excessive_bools = "allow"
arithmetic_side_effects = "allow"
indexing_slicing = "allow"
unwrap_used = "allow"
unwrap_in_result = "allow"
pattern_type_mismatch = "allow"
panic_in_result_fn = "allow"
panic = "allow"
missing_errors_doc = "allow"
missing_assert_message = "allow"
cast_precision_loss = "allow"
multiple_inherent_impl = "allow"
iter_over_hash_type = "allow"
expect_used = "allow"
string_slice = "allow"
cast_possible_truncation = "allow"
missing_inline_in_public_items = "allow"
