disallowed-types = [
  { path = "std::collections::HashMap", reason = "use FxHashMap" },
  { path = "std::collections::HashSet", reason = "use FxHashSet" },
  { path = "std::collections::hash_map::RandomState", reason = "use BuildHasherDefault<FxHasher>" },
]

disallowed-methods = [
  { path = "std::process::Command::new", reason = "use `toolchain::command` instead as it forces the choice of a working directory" },
]

# Things that do not work due to macros can be handled by typos.toml instead.
disallowed-names = [
  "acc",    # accumulator
  "alloc",  # allocate
  "alt",    # alternate
  "attr",   # attribute
  "auth",   # authentication
  "btn",    # button
  "buf",    # buffer
  "char",   # character
  "col",    # column
  "ctrl",   # control
  "dbg",    # debug
  "dest",   # destination
  "dir",    # directory
  "dirs",   # directories
  "elem",   # element
  "expr",   # expression
  "ident",  # identifier
  "idx",    # index
  "it",     # item, inlay_tooltip
  "len",    # length
  "lit",    # literal
  "msg",    # message
  "params", # parameters
  "prev",   # previous
  "req",    # request
  "resp",   # response
  "sel",    # selection
  "sig",    # sign
  "src",    # source
  "stmt",   # statement
  "sh",
  "opts",
  "vars",
  "ty",     # r#type
  # "tmp",    # temporary # does not work due to db! macro
  # "err",    # error
  # "db",   # database  # does not work due to xflag macro
  # "args", # arguments # does not work due to write! macro
  # "res",  # result    # does not work due to format! macro
]
