[package]
name = "hir_ty"
version = "0.0.0"
edition = "2021"

[dependencies]
base_db = { path = "../base_db" }
hir_def = { path = "../hir_def" }

salsa = "0.17.0-pre.1"
la-arena = { git = "https://github.com/rust-analyzer/rust-analyzer", rev = "0ee4e6a22" }
either = "1.6.1"
rustc-hash = "1.1.0"
itertools = "0.10.1"
smallvec = "1.7.0"
