[package]
name = "parser"
version = "0.0.0"
repository.workspace = true
description = "The WGSL parser for wgsl-analyzer."

authors.workspace = true
edition.workspace = true
license.workspace = true
rust-version.workspace = true

[lib]
doctest = false

[dependencies]
drop_bomb = "0.1.5"
logos.workspace = true
rowan.workspace = true

[dev-dependencies]
expect-test.workspace = true
