[package]
name = "hir-def"
version = "0.0.0"
repository.workspace = true
description = "RPC Api for the `proc-macro-srv` crate of wgsl-analyzer."

authors.workspace = true
edition.workspace = true
license.workspace = true
rust-version.workspace = true

[lib]
doctest = false

[dependencies]
la-arena = "0.3.1"
vfs.workspace = true
salsa = "0.17.0-pre.2"
syntax.workspace = true
base-db.workspace = true
smol_str = "0.3.2"
rustc-hash = "2.1.1"
either = "1.15.0"
smallvec = { version = "1.15.1", features = [
	"const_new",
	"union",
	"const_generics",
] }
rowan = "0.16.1"
tracing = "0.1.41"

[lints]
workspace = true
