[package]
name = "hir_def"
version = "0.0.0"
edition = "2021"

[dependencies]
la-arena = { git = "https://github.com/rust-analyzer/rust-analyzer", rev = "0ee4e6a22" }
vfs = { git = "https://github.com/rust-analyzer/rust-analyzer", rev = "0ee4e6a22" }
salsa = "0.17.0-pre.1"
syntax = { path = "../syntax" }
base_db = { path = "../base_db" }
smol_str = "0.1.18"
rustc-hash = "1.1.0"
tracing = "0.1"
either = "1.6.1"
smallvec = "1.7.0"
rowan = "0.15"
