[package]
name = "stdx"
version = "0.0.0"
repository.workspace = true
description = "Missing batteries for standard libraries for wgsl-analyzer."

publish = false
authors.workspace = true
edition.workspace = true
license.workspace = true
rust-version.workspace = true

[lib]
doctest = false

[dependencies]
backtrace = { version = "0.3.67", optional = true }
jod-thread.workspace = true
libc.workspace = true
crossbeam-channel.workspace = true
itertools.workspace = true
always-assert = { version = "0.2.0", features = ["tracing"] }
tracing.workspace = true
# Think twice before adding anything here

[target.'cfg(windows)'.dependencies]
miow = "0.6.0"
windows-sys = { version = "0.59.0", features = ["Win32_Foundation"] }

[features]
# Uncomment to enable for the whole crate graph
# default = [ "backtrace" ]
force-always-assert = []

[lints]
workspace = true
