[package]
name = "base-db"
version = "0.0.0"
repository.workspace = true
description = "Basic database traits for wgsl-analyzer. The concrete DB is defined by `ide` (aka `wa_ap_ide`)."
edition.workspace = true
license.workspace = true
rust-version.workspace = true

[lib]
doctest = false

[dependencies]
salsa = "0.17.0-pre.2"
rowan = "0.16.1"
rustc-hash = "2.1.1"
syntax.workspace = true
regex = { version = "1.12.1", default-features = false, features = [
  "std",
  "unicode",
] }
triomphe = { version = "0.1.15", default-features = false, features = ["std"] }
line-index = "0.1.2"
vfs.workspace = true

[dev-dependencies]
pretty_assertions = "1.4.1"

[lints]
workspace = true
