[package]
name = "base-db"
version = "0.0.0"
edition.workspace = true
rust-version.workspace = true
description = "Basic database traits for wgsl-analyzer. The concrete DB is defined by `ide` (aka `wa_ap_ide`)."
repository.workspace = true
license.workspace = true

[lib]
doctest = false

[dependencies]
line-index.workspace = true
rowan.workspace = true
salsa.workspace = true
syntax.workspace = true
triomphe.workspace = true
semver = "1.0.27"
tracing = "0.1.41"
edition.workspace = true
vfs.workspace = true
# span.workspace = true
# rust-analyzer libs
la-arena = "0.3.1"
line-index = "0.1.2"

[lints]
workspace = true
