[package]
name = "ide"
version = "0.0.0"
edition = "2021"

[dependencies]
salsa = "0.17.0-pre.1"
tracing = "0.1.29"

base_db = { path = "../base_db" }
hir_def = { path = "../hir_def" }
hir_ty = { path = "../hir_ty" }
hir = { path = "../hir" }
ide_completion = { path = "../ide_completion" }
syntax = { path = "../syntax" }
wgsl_formatter = { path = "../wgsl_formatter" }
rowan = "0.15"
lsp-types = "0.93.0"
vfs = { git = "https://github.com/rust-analyzer/rust-analyzer", rev = "0ee4e6a22" }

expect-test = "1.1.0"
itertools = "0.10.1"
smol_str = "0.1.21"

naga08 = { package = "naga", git = "https://github.com/jakobhellermann/naga", branch = "expose-error-messages-0.8-backport", features = [
  "wgsl-in",
  "validate",
  "span",
] }
naga09 = { package = "naga", version = "0.9", features = [
  "wgsl-in",
  "validate",
  "span",
] }
nagamain = { package = "naga", git = "https://github.com/gfx-rs/naga", rev = "350171ed2f45612386cc91a0ee9ff79d918939a9", features = [
  "wgsl-in",
  "validate",
  "span",
] }
