[package]
name = "ide"
version = "0.0.0"
repository.workspace = true
description = "Core data structure representing IDE state for wgsl-analyzer."

authors.workspace = true
edition.workspace = true
license.workspace = true
rust-version.workspace = true

[lib]

[dependencies]
crossbeam-channel = "0.5.15"
tracing = "0.1.41"
fst = { version = "0.4.7", default-features = false }
rustc-hash = "2.1.1"
either = "1.15.0"
itertools = "0.14.0"
arrayvec = "0.7.6"
indexmap = "2.11.4"
memchr = "2.7.6"
salsa = "0.23.0"
triomphe = { version = "0.1.14", default-features = false, features = ["std"] }
nohash-hasher = "0.2.0"
bitflags = "2.9.4"
smol_str = "0.3.2"
smallvec = { version = "1.15.1", features = [
  "const_new",
  "union",
  "const_generics",
] }

# local deps
base-db.workspace = true
ide-completion.workspace = true
syntax.workspace = true
wgsl-formatter.workspace = true
rowan = "0.16.1"
parser.workspace = true
ide-db.workspace = true
stdx.workspace = true
# span.workspace = true
vfs.workspace = true
# ide should depend only on the top-level `hir` package. if you need
# something from some `hir-xxx` subpackage, reexport the API via `hir`.
hir.workspace = true
hir-def.workspace = true # todo
hir-ty.workspace = true  # todo

line-index = "0.1.2"

naga14 = { package = "naga", version = "0.14", features = [
  "wgsl-in",
  "validate",
  "span",
] }
naga19 = { package = "naga", version = "0.19", features = ["wgsl-in"] }
naga22 = { package = "naga", version = "22.1.0", features = ["wgsl-in"] }
# naga23 = { package = "naga", version = "23.0.0", features = ["wgsl-in"] }
# naga24 = { package = "naga", version = "24.0.0", features = ["wgsl-in"] }
nagamain = { package = "naga", git = "https://github.com/gfx-rs/wgpu", rev = "b32cbd4ea6b6b898b27b7837145b3cfe30ac1543", features = [
  "wgsl-in",
], version = "24.0.0" }


[dev-dependencies]
expect-test = "1.5.1"

# local deps
# test-utils.workspace = true
# test-fixture.workspace = true

[lints]
workspace = true
