name: Fuzz
on:
  schedule:
    # Once a week
    - cron: 0 0 * * 0
  push:
    paths:
      - .github/workflows/fuzz.yml
  # Allow manual trigger
  workflow_dispatch:

permissions: {}

env:
  CARGO_INCREMENTAL: 0
  CARGO_NET_RETRY: 10
  CI: 1
  RUST_BACKTRACE: short
  RUSTFLAGS: -D warnings -W unreachable-pub -W bare-trait-objects
  RUSTUP_MAX_RETRIES: 10
  NIGHTLY_TOOLCHAIN: nightly

jobs:
  rust:
    if: ${{ github.repository == 'wgsl-analyzer/wgsl-analyzer' || github.event_name == 'workflow_dispatch' }}
    name: Rust
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 1
          persist-credentials: false

      - name: Install nightly Rust toolchain
        uses: dtolnay/rust-toolchain@f7ccc83f9ed1e5b9c81d8a67d7ad1a747e22a561
        with:
          toolchain: ${{ env.NIGHTLY_TOOLCHAIN }}

      - name: Build fuzzers
        run: |
          cargo install cargo-fuzz
          cd crates/syntax
          cargo +nightly fuzz build
