name: Release
on:
  schedule:
    - cron: 0 0 * * * # midnight UTC

  workflow_dispatch:

  push:
    branches:
      - release

permissions: {}

env:
  CARGO_INCREMENTAL: "0"
  CARGO_NET_RETRY: "10"
  RUSTFLAGS: -D warnings
  RUSTUP_MAX_RETRIES: "10"
  FETCH_DEPTH: "0" # pull in the tags for the version string
  MACOSX_DEPLOYMENT_TARGET: "13.0"
  ZIG_VERSION: "0.13.0"
  ZIGBUILD_VERSION: "0.19.8"

jobs:
  dist:
    if: ${{ github.repository == 'wgsl-analyzer/wgsl-analyzer' || github.event_name == 'workflow_dispatch' }}
    strategy:
      matrix:
        include:
          - os: windows-latest
            target: x86_64-pc-windows-msvc
            code-target: win32-x64
            pgo: bevyengine/bevy@v0.16.1

          - os: windows-latest
            target: i686-pc-windows-msvc
            pgo: bevyengine/bevy@v0.16.1

          - os: windows-latest
            target: aarch64-pc-windows-msvc
            code-target: win32-arm64

          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            # Use a container with glibc 2.28
            # Zig is not used because it does not work with PGO
            container: quay.io/pypa/manylinux_2_28_x86_64
            code-target: linux-x64
            pgo: bevyengine/bevy@v0.16.1

          - os: ubuntu-24.04-arm
            target: aarch64-unknown-linux-gnu
            container: quay.io/pypa/manylinux_2_28_aarch64
            code-target: linux-arm64
            pgo: bevyengine/bevy@v0.16.1

          - os: ubuntu-latest
            target: arm-unknown-linux-gnueabihf
            zig_target: arm-unknown-linux-gnueabihf.2.28
            code-target: linux-armhf

          - os: macos-latest
            target: aarch64-apple-darwin
            code-target: darwin-arm64
            pgo: bevyengine/bevy@v0.16.1

    name: dist (${{ matrix.target }})
    runs-on: ${{ matrix.os }}
    container: ${{ matrix.container }}

    env:
      WA_TARGET: ${{ matrix.target }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: ${{ env.FETCH_DEPTH }}
          persist-credentials: false

      - name: Install Node.js toolchain
        uses: actions/setup-node@v6
        with:
          node-version: 22

      - name: Install stable Rust toolchain
        uses: dtolnay/rust-toolchain@f7ccc83f9ed1e5b9c81d8a67d7ad1a747e22a561
        with:
          toolchain: stable
          components: ${{ matrix.pgo && 'llvm-tools' || '' }}
          target: ${{ matrix.target }}

      - name: Install Zig toolchain
        if: ${{ matrix.zig_target }}
        run: |
          which cargo
          curl -L "https://ziglang.org/download/${ZIG_VERSION}/zig-linux-$(uname -m)-${ZIG_VERSION}.tar.xz" | sudo tar JxC /usr/local
          sudo ln -s "/usr/local/zig-linux-$(uname -m)-${ZIG_VERSION}/zig" /usr/local/bin/zig
          curl -L "https://github.com/rust-cross/cargo-zigbuild/releases/download/v${ZIGBUILD_VERSION}/cargo-zigbuild-v${ZIGBUILD_VERSION}.x86_64-unknown-linux-musl.tar.gz" | tar zxC ~/.cargo/bin

      - name: Dist (plain)
        if: ${{ !matrix.zig_target }}
        run: cargo xtask dist --client-patch-version ${{ github.run_number }} # ${{ matrix.pgo && format('--pgo {0}', matrix.pgo) || ''}}

      - name: Dist (using zigbuild)
        if: ${{ matrix.zig_target }}
        run: WA_TARGET=${{ matrix.zig_target}} cargo xtask dist --client-patch-version ${{ github.run_number }} --zig # ${{ matrix.pgo && format('--pgo {0}', matrix.pgo) || ''}}

      - run: npm ci
        working-directory: editors/code

      - name: Package Extension (release)
        if: github.ref == 'refs/heads/release' && matrix.code-target
        run: npx vsce package -o "../../dist/wgsl-analyzer-${{ matrix.code-target }}.vsix" --target ${{ matrix.code-target }}
        working-directory: editors/code

      - name: Package Extension (nightly)
        if: github.ref != 'refs/heads/release' && matrix.code-target
        run: npx vsce package -o "../../dist/wgsl-analyzer-${{ matrix.code-target }}.vsix" --target ${{ matrix.code-target }} --pre-release
        working-directory: editors/code

      - if: matrix.target == 'x86_64-unknown-linux-gnu'
        run: rm -rf editors/code/server

      - if: matrix.target == 'x86_64-unknown-linux-gnu' && github.ref == 'refs/heads/release'
        run: npx vsce package -o ../../dist/wgsl-analyzer-no-server.vsix
        working-directory: editors/code

      - if: matrix.target == 'x86_64-unknown-linux-gnu' && github.ref != 'refs/heads/release'
        run: npx vsce package -o ../../dist/wgsl-analyzer-no-server.vsix --pre-release
        working-directory: editors/code

      - name: Upload artifacts
        uses: actions/upload-artifact@v6
        with:
          name: dist-${{ matrix.target }}
          path: ./dist

  dist-x86_64-unknown-linux-musl:
    if: ${{ github.repository == 'wgsl-analyzer/wgsl-analyzer' || github.event_name == 'workflow_dispatch' }}
    name: dist (x86_64-unknown-linux-musl)
    runs-on: ubuntu-latest
    env:
      WA_TARGET: x86_64-unknown-linux-musl
      # For some reason `-crt-static` is not working for clang without lld
      RUSTFLAGS: -C link-arg=-fuse-ld=lld -C target-feature=-crt-static
    container:
      image: rust:alpine
      volumes:
        - /usr/local/cargo/registry:/usr/local/cargo/registry

    steps:
      - name: Install dependencies
        run: apk add --no-cache git clang lld musl-dev nodejs npm

      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: ${{ env.FETCH_DEPTH }}
          persist-credentials: false

      - name: Dist
        run: cargo xtask dist --client-patch-version ${{ github.run_number }}

      - run: npm ci
        working-directory: editors/code

      - name: Package Extension (release)
        if: github.ref == 'refs/heads/release'
        run: npx vsce package -o "../../dist/wgsl-analyzer-alpine-x64.vsix" --target alpine-x64
        working-directory: editors/code

      - name: Package Extension (nightly)
        if: github.ref != 'refs/heads/release'
        run: npx vsce package -o "../../dist/wgsl-analyzer-alpine-x64.vsix" --target alpine-x64 --pre-release
        working-directory: editors/code

      - run: rm -rf editors/code/server

      - name: Upload artifacts
        uses: actions/upload-artifact@v6
        with:
          name: dist-x86_64-unknown-linux-musl
          path: ./dist

  publish:
    if: ${{ github.repository == 'wgsl-analyzer/wgsl-analyzer' || github.event_name == 'workflow_dispatch' }}
    name: publish
    runs-on: ubuntu-latest
    permissions:
      contents: write
    needs: ["dist", "dist-x86_64-unknown-linux-musl"]
    steps:
      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 22

      - run: echo "TAG=$(date --iso -u)" >> $GITHUB_ENV
        if: github.ref == 'refs/heads/release'
      - run: echo "TAG=nightly" >> $GITHUB_ENV
        if: github.ref != 'refs/heads/release'
      - run: 'echo "TAG: $TAG"'

      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: ${{ env.FETCH_DEPTH }}
          persist-credentials: false

      - name: Set HEAD_SHA
        run: |
          echo "HEAD_SHA=$(git rev-parse HEAD)" >> $GITHUB_ENV
          echo "HEAD_SHA: $HEAD_SHA"

      - name: Download dist-aarch64-apple-darwin artifact
        uses: actions/download-artifact@v7
        with:
          name: dist-aarch64-apple-darwin
          path: dist

      - name: Download dist-x86_64-unknown-linux-gnu artifact
        uses: actions/download-artifact@v7
        with:
          name: dist-x86_64-unknown-linux-gnu
          path: dist

      - name: Download dist-x86_64-unknown-linux-musl artifact
        uses: actions/download-artifact@v7
        with:
          name: dist-x86_64-unknown-linux-musl
          path: dist

      - name: Download dist-aarch64-unknown-linux-gnu artifact
        uses: actions/download-artifact@v7
        with:
          name: dist-aarch64-unknown-linux-gnu
          path: dist

      - name: Download dist-arm-unknown-linux-gnueabihf artifact
        uses: actions/download-artifact@v7
        with:
          name: dist-arm-unknown-linux-gnueabihf
          path: dist

      - name: Download dist-x86_64-pc-windows-msvc artifact
        uses: actions/download-artifact@v7
        with:
          name: dist-x86_64-pc-windows-msvc
          path: dist

      - name: Download dist-i686-pc-windows-msvc artifact
        uses: actions/download-artifact@v7
        with:
          name: dist-i686-pc-windows-msvc
          path: dist

      - name: Download dist-aarch64-pc-windows-msvc artifact
        uses: actions/download-artifact@v7
        with:
          name: dist-aarch64-pc-windows-msvc
          path: dist

      - run: ls -al ./dist

      - name: Publish Release
        uses: ./.github/actions/github-release
        with:
          files: dist/*
          name: ${{ env.TAG }}
          token: ${{ secrets.GITHUB_TOKEN }}

      - run: rm dist/wgsl-analyzer-no-server.vsix

      - run: npm ci
        working-directory: ./editors/code

      - name: Publish Extension (Code Marketplace, release)
        if: github.ref == 'refs/heads/release' && github.repository == 'wgsl-analyzer/wgsl-analyzer'
        working-directory: ./editors/code
        # token from https://dev.azure.com/wgsl-analyzer/
        run: npx vsce publish --pat ${{ secrets.VSCE_PAT }} --packagePath ../../dist/wgsl-analyzer-*.vsix

      - name: Publish Extension (OpenVSX, release)
        if: github.ref == 'refs/heads/release' && github.repository == 'wgsl-analyzer/wgsl-analyzer'
        working-directory: ./editors/code
        run: npx ovsx publish --pat ${{ secrets.OVSX_PAT }} --packagePath ../../dist/wgsl-analyzer-*.vsix
        timeout-minutes: 2

      - name: Publish Extension (Code Marketplace, nightly)
        if: github.ref != 'refs/heads/release' && github.repository == 'wgsl-analyzer/wgsl-analyzer'
        working-directory: ./editors/code
        run: npx vsce publish --pat ${{ secrets.VSCE_PAT }} --packagePath ../../dist/wgsl-analyzer-*.vsix --pre-release

      - name: Publish Extension (OpenVSX, nightly)
        if: github.ref != 'refs/heads/release' && github.repository == 'wgsl-analyzer/wgsl-analyzer'
        working-directory: ./editors/code
        run: npx ovsx publish --pat ${{ secrets.OVSX_PAT }} --packagePath ../../dist/wgsl-analyzer-*.vsix
        timeout-minutes: 2
