name: Update Actions Caches

permissions:
  contents: read

on:
  # Manually
  workflow_dispatch:
  # On PR merge
  push:
    branches:
      - main
  # After nightly release
  schedule:
    - cron: "0 1 * * *"

# Environment variables must be kept in sync with all workflows that defines them.
env:
  CARGO_INCREMENTAL: 0
  CARGO_PROFILE_TEST_DEBUG: 0
  CARGO_PROFILE_DEV_DEBUG: 0
  # If nightly is breaking CI, modify this variable to target a specific nightly version.
  NIGHTLY_TOOLCHAIN: nightly

jobs:
  env:
    runs-on: ubuntu-latest
    outputs:
      NIGHTLY_TOOLCHAIN: ${{ steps.env.outputs.NIGHTLY_TOOLCHAIN }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: dtolnay/rust-toolchain@efa25f7f19611383d5b0ccf2d1c8914531636bf9
        with:
          toolchain: stable
      - name: Expose Env
        id: env
        run: |
          echo "NIGHTLY_TOOLCHAIN=${{ env.NIGHTLY_TOOLCHAIN }}" >> $GITHUB_OUTPUT

  build-caches:
    name: Build Caches
    needs: ["env"]
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            toolchain: stable
            target: ""
          - os: macos-latest
            toolchain: stable
            target: ""
          - os: windows-latest
            toolchain: stable
            target: ""
          - os: ubuntu-latest
            toolchain: ${{ needs.env.outputs.NIGHTLY_TOOLCHAIN }}
            target: ""
          - os: macos-latest
            toolchain: ${{ needs.env.outputs.NIGHTLY_TOOLCHAIN }}
            target: ""
          - os: ubuntu-latest
            toolchain: ${{ needs.env.outputs.NIGHTLY_TOOLCHAIN }}
            target: wasm32-unknown-unknown
          - os: ubuntu-latest
            toolchain: stable
            target: wasm32-unknown-unknown
          - os: ubuntu-latest
            toolchain: stable
            target: x86_64-unknown-none
          - os: ubuntu-latest
            toolchain: stable
            target: thumbv6m-none-eabi
          - os: ubuntu-latest
            toolchain: stable
            target: aarch64-linux-android
          - os: macos-14
            toolchain: stable
            target: aarch64-apple-ios-sim

    steps:
      # prepare the date - used to rebuild the cache daily to update the cache
      # for Rust nightly, even if no change on dependencies
      - name: Get the current date
        id: get-date
        run: |
          echo "date=$(/bin/date -u "+%Y%m%d")" >> $GITHUB_OUTPUT
        shell: bash

      - name: Checkout the main branch
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          repository: "wgsl-analyzer/wgsl-analyzer"
          ref: "main"
          persist-credentials: false

      - name: Set up Rust
        id: rust
        uses: dtolnay/rust-toolchain@efa25f7f19611383d5b0ccf2d1c8914531636bf9
        with:
          toolchain: ${{ matrix.toolchain }}
          target: ${{ matrix.target }}

      # prepare the lockfile - to have a complete image of the dependencies on the current platform
      - name: Create lock file
        run: cargo update

      # Fetch the cache using the complete key - to avoid rebuilding the cache if nothing changed
      - name: Restore cache
        uses: actions/cache/restore@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        id: cache
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-${{ matrix.toolchain }}-${{ matrix.target }}-${{ hashFiles('**/Cargo.toml') }}-${{ hashFiles('Cargo.lock') }}-${{ steps.get-date.outputs.date }}

      # Build wgsl-analyzer for the dev profile, used by check, doc, ...
      - name: Build dev cache
        if: steps.cache.outputs.cache-hit != 'true'
        run: cargo build --profile dev

      # Build wgsl-analyzer for the test profile, used by test
      - name: Build test cache
        if: steps.cache.outputs.cache-hit != 'true'
        run: cargo build --profile test

      - name: Save cache
        if: steps.cache.outputs.cache-hit != 'true'
        uses: actions/cache/save@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-${{ matrix.toolchain }}-${{ matrix.target }}-${{ hashFiles('**/Cargo.toml') }}-${{ hashFiles('Cargo.lock') }}-${{ steps.get-date.outputs.date }}
